/* Write your CSS below */

@font-face {
  font-family: "SharpSans-Black";
  src: url("../assets_from_client/fonts/SharpSans-No1-Black.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SharpSans-Medium";
  src: url("../assets_from_client/fonts/SharpSans-No1-Medium.otf");
  font-weight: normal;
}

h1,
h2 {
  text-transform: uppercase;
  color: white;
  font-family: "SharpSans-Black";
}

h2 {
  margin-left: 1.75rem;
}

body {
  font-family: "SharpSans-Medium";
  background-image: url("../assets_from_client/assets/login-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  background: white;
  color: black;
  border: none;
  font-family: "SharpSans-Black";
  margin: center;
  text-transform: uppercase;
  width: 8rem;
  height: 3rem;
  align-items: center;
  margin: 1rem auto;
  cursor: pointer;
}

button {
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  padding: 5px 15px;
  font-family: "SharpSans-Black";
  text-transform: uppercase;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

.form-group > input {
  width: 65%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-group > label {
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.register-form,
.signin-form {
  border: solid #5ac8e0 2px;
  padding: 1rem;
  width: 45vw;
  background-image: linear-gradient(155deg, rgb(17, 17, 17) 93%, #5ac8e0 93.1%);
}

.active {
  color: white;
  background-color: #5ac8e0;
}

h2::before {
  width: 100%;
  content: "";
  height: 3rem;
  display: block;
  background-image: url(../assets_from_client/assets/WSJ_Horizontal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}

img {
  width: 50%;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .form-group {
    flex-direction: column;
  }

  .register-form,
  .signin-form {
    width: 85vw;
  }

  .form-group > input {
    width: 95%;
  }

  .form-group > label {
    margin-left: 0rem;
  }

  h2 {
    margin-left: 0.75rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
