/* Write your CSS below */

@font-face {
  font-family: 'SharpSans-Black';
  src: url('../assets_from_client/fonts/SharpSans-No1-Black.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'SharpSans-Medium';
  src: url('../assets_from_client/fonts/SharpSans-No1-Medium.otf');
  font-weight: normal;
}

h1, h2 {
  text-transform: uppercase;
  color: white;
  font-family:'SharpSans-Black';
}

h2 {
  margin-left: 1.75rem;
}

body {
  font-family:"SharpSans-Medium";
  background-image: url("../assets_from_client/assets/login-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .sharp-sans-black {
  font-family: "SharpSans-Black";
} */

.form-group {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: .7rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  background: white;
  color: black;
  border: none;
  font-family: "SharpSans-Black";
  margin: center;
  text-transform: uppercase;
  width: 8rem;
  height: 3rem;
  align-items: center;
  margin: 1rem auto;
  cursor: pointer;
}

button {
  background-color: rgba(255, 255, 255, .65);
  border: none;
  padding: 5px 15px;
  font-family: "SharpSans-Black";
  text-transform: uppercase;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

.form-group > input {
  width: 65%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.form-group > label {
  color: rgb(255, 255, 255);
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left:1rem;
}

/* .banner {
  width: 50%;
  margin: 1rem auto;
} */

/* .grey-background{
  background: grey;
  background-size: cover;
} */

.register-form, .signin-form{
  border: solid #5AC8E0 2px;
  padding: 1rem;
  width: 45vw;
  background-image: linear-gradient(155deg, rgb(17, 17, 17) 93%, #5AC8E0 93.1%);
}

.active {
  color: white;
  /* background-color:rgba(90, 200, 225, .9); */
  background-color:#5AC8E0;
}

h2::before {
  width: 100%;
  content: "";
  height: 3rem;
  display: block;
  background-image: url(../assets_from_client/assets/WSJ_Horizontal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}

img {
  width: 50%;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
